
.txt{
text-align: center;

}

footer{
   text-align: center;
}




main{
    min-height: 80vh;
}
.header {
    background: #664c8f;
    
    padding: 100px 100px;       
    
}
.h1 {
    color: white;
    font-family: Arial;
    text-align: center;
}
.di{
    display: flex;
    justify-content: center;
    position: absolute;


    left: 50%;
  
  
    top: 50%;
  
  
    transform: translate(-50%, -50%);
  
  
}
.btn{
    float: right !important;
    width: 8rem;
    margin-top: 2rem;
    margin-right: 0.5rem;
}